// ===== FONT GOOGLE =====
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Source+Serif+Pro:wght@400;600&display=swap");

// ===== VARIABLE CSS =====
:root {
  // header height
  --header-height: 6rem;

  // color palette
  --green-color: #25a244;
  --white-color: #ffffff;
  --title-color: #212529;
  --text-color: #6c757d;

  // font global
  --font-title: "Source Serif Pro", serif;
  --font-text: "Poppins", sans-serif;

  // font weight
  --font-reguler: 400;
  --font-medium: 500;
  --font-semibold: 600;

  // margin
  --margin-0-5: 0.5rem;
  --margin-1: 1rem;
  --margin-1-5: 1.5rem;
  --margin-2: 2rem;
  --margin-2-5: 2.5rem;
  --margin-3: 3rem;
  --margin-3-5: 3.5rem;
  --margin-4: 4rem;

  // z-index
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;

  // transition
  --transition-400: 0.4s;

  // line-height
  --leading-text: 185%;
}

// ===== RESET & BASE =====
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-text);
  font-weight: var(--font-reguler);
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

input,
button {
  font-family: var(--font-text);
  font-weight: var(--font-semibold);
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ===== REUSABLE CSS =====
.section {
  padding: 8rem 0 4rem;

  &-title {
    font-size: 32px;
    font-family: var(--font-title);
    font-weight: var(--font-reguler);
    color: var(--title-color);
    padding-bottom: 1rem;
  }

  &-text {
    color: var(--text-color);
    line-height: var(--leading-text);
    padding-bottom: 2em;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2.5rem;
  background-color: var(--green-color);
  font-weight: var(--font-semibold);
  color: var(--white-color);
}

.container {
  max-width: 1200px;
  width: calc(100% - 3rem);
  margin: 0 auto;
}

.main {
  overflow: hidden;
}
